<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.gpfy.dao.GpfyMapper">
	<!--查询页面 -->
	<select id="getGpfyList" parameterType="com.sys.gpfy.entity.Gpfy"  resultType="com.sys.gpfy.entity.Gpfy"  >
		SELECT substr(u.wydz,1,12)||'****'||substr(u.wydz,-1,1) as wydz,
		u.jzmj,
		u.cq,u.nd,to_char(u.gpyxqqs,'yyyy-mm-dd')as gpyxqqs,to_char(u.gpyxqzz,'yyyy-mm-dd') as gpyxqzz
		FROM TPE_GPFY u
		where sysdate &lt;= u.gpyxqzz
			<if test="gpyxqqs != null and gpyxqqs != ''">
				AND ( to_char(u.gpyxqqs,'yyyy-mm-dd') &gt;= #{gpyxqqs}
				 or to_char(u.gpyxqzz,'yyyy-mm-dd') &gt;= #{gpyxqqs})
			</if>
			<if test="gpyxqzz != null and gpyxqzz != ''">
				and( to_char(u.gpyxqqs,'yyyy-mm-dd') &lt;= #{gpyxqzz}
				or to_char(u.gpyxqzz,'yyyy-mm-dd') &lt;= #{gpyxqzz})
			</if>
			<if test="wydz != null and wydz != ''">
				<!-- AND instr(u.wydz,'%${wydz}%')>0 -->
				AND u.wydz like '%${wydz}%'
			</if>
			<!-- <if test="cq != null and cq != '' and wydz = 650122">
				and (u.cq in '${cq}') OR(u.cq not in(650102,650103,650104,650105,650106,650107,650109,650121,650130))
			</if> -->
			<if test="cq != null and cq != ''">
				AND u.cq = '${cq}'
			</if>
		order by u.gpyxqqs asc
	</select>
	
	
	
</mapper>